@import "bootstrap";
@import "font-awesome";

$primary-blue: #0084B4;
$light-blue: rgba(0, 158, 209, 0.77);
$grey: #a0a0a0;
$light-grey: #e5e5e5;
$very-light-grey: #f8f8f8;

body {
  min-width: 950px;
  padding-top: 52px;
  background-color: #f6f6f6;
}

.wrapper {
  margin-top: 10px;
}

.options {
  &.follow-options {
    .btn {
      margin-bottom: 5px;
      margin-left: 5px;
    }
  }
}

.fa-cog {
  color: $grey;
  cursor: pointer;
}

.follow {
  border-radius: 5px;
  width: 290px;
  height: 280px;
  border: 1px solid $light-grey;
  background: white;

  > div:first-child {
    background-color: $primary-blue;
    width: 100%;
    height: 95px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  > div:nth-child(2) {
    div {
      margin-left: 18px;

      .big {
        margin: 0;

        a, a:visited {
          color: black;
        }
        a:hover, a:active {
          text-decoration: underline;
          color: black;
        }
        p {
          font-size: 15px;
          font-weight: normal;
          color: $grey;
          a, a:visited {
            color: $grey;
          }
          a:hover, a:active {
            text-decoration: underline;
            color: $grey;
          }
        }
      }
    }
    > div:first-child {
      margin-top: -25px;
      margin-left: 15px;
      > div {
        display: inline-block;
        margin: 0;
      }
      .options {
        width: 186px;
        vertical-align: bottom;
        text-align: right;
      }
    }
  }

  img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    border: 3px solid white;
  }
}

.top-bg {
  background-color: $primary-blue;
  width: 100%;
  height: 200px;
}

.primary-blue {
  color: $primary-blue;
}

.modal-footer {
  border: 0;
  background-color: rgba(0, 132, 180, .1);
}
.modal-body {
  div:first-child {
    .post-name {
      display: block;
      font-weight: 500;
      font-size: 14px;
      margin-top: -4px;
      small {
        color: $grey;
        font-weight: normal;
        font-size: 13px;
        a, a:visited, a:hover, a:active {
          color: $grey;
        }
      }

      a, a:visited, a:hover, a:active {
        color: black;
      }
    }
    .post-content {
      a, a:visited {
        color: $primary-blue;
      }
      a:hover, a:active {
        text-decoration: underline;
      }
      font-size: 17px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0;
    }
    img {
      border-radius: 3px;
    }
    div {
      display: inline-block;
      vertical-align: top;
    }
    div:nth-child(2) {
      width: 32px;
    }
    .repost {
      display: block;
      width: 100%;

      div {
        width: 250px;
        color: $grey;
        font-size: 13px;
        a, a:hover, a:visited, a:active {
          color: $grey;
        }
        a:hover, a:active {
          text-decoration: underline;
        }
      }

      div:first-child {
        text-align: right;
        width: 32px;
        i, i:hover, i:visited, i:active {
          margin: 0;
          margin-bottom: 5px;
          margin-right: 8px;
          font-size: 11px;
          background-color:#008000;
          color: white;
          border-radius: 2px;
          padding: 2px;
          cursor: default;
        }
      }

    }
  }
}

.navbar {
  li {
    a, a:visited {
      color: #66757E;
    }
    a:hover, a:active {
      color: $primary-blue;
    }
  }
  &.navbar-static-top {
    margin: 0;
  }
  &.white {
    z-index: 10;
    background-color: white;
  }
}

.container-full {
  margin: 0 auto;
  width: 90%;
}

.invalid {
  background-color: #fcc;
  padding-right: 2px;
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-ph);
  color: $grey;
}

.reply-info {
  margin-top: 5px;
  margin-right: 1px;
  text-align: right;
  .modal-count-down {
    margin-right: 10px;
  }
  .modal-submit-post {
    background-color: $primary-blue;
    border: 1px solid rgba(0,132,180,0.25);
    i {
      margin: 0;
      color: white;
    }
  }
}

#modal-reply-box {
  border: 1px solid rgba(0,132,180,0.25);
  border-radius: 5px;
  background-color: white;
  height: 70px;
  padding: 5px;
  text-align: left;
  &:focus {
    outline: none;
  }
}


.post-options {
  i {

      font-size: 14px;
      font-weight: bold;
      color: $grey;
      margin-right: 40px;
  }
}

.posts {

  .post-create {
    &.no-round {
      border-radius: 0;
    }
  }

  margin: 10px;
  padding: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid $light-grey;
  background-color: white;
  > div:not(:first-child) {
    border-top: 1px solid $light-grey;
  }

  > div:last-child {
  }

  > div {
    padding: 10px;
    padding-top: 20px;
    border: 1px solid transparent;
    > div {

      .fa-reply:hover,
      .fa-ellipsis-h:hover {
        color: $primary-blue;
        cursor: pointer;
      }
      .fa-retweet:hover, .reposted {
        color: #008000;
        cursor: pointer;
      }
      .fa-star:hover, .favorited {
        color: #ff9f06;
        cursor: pointer;
      }
      .repost-disable,
      .repost-disable:hover {
        color: $light-grey;
        cursor: default;
      }

      a:active, a:hover {
        i {
          color: $primary-blue;
        }
        span {
          color: $primary-blue;
        }
      }
    }
  }

  > div:hover:not(:first-child) {
    //background-color: $very-light-grey;
    //border: 1px solid $light-blue;
    //cursor: pointer;
  }
  > div:first-child {
    padding-top: 10px;
  }

  .post-create {
    background-color: #E5F2F7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    .post-editable {
      border: 1px solid rgba(0, 132, 180, 0.25);
      border-radius: 5px;
      background-color: white;
      height: 70px;
      padding: 5px;
      text-align: left;
      &:focus {
        outline: none;
      }
    }
    div:last-child {
      margin-top: 5px;
      margin-right: 1px;
      text-align: right;
      .create-post-count-down {
        margin-right: 10px;
      }
      .submit-post {
        background-color: $primary-blue;
        border: 1px solid rgba(0, 132, 180, 0.25);
        i {
          margin: 0;
          color: white;
        }
      }
    }
  }
}

.post {

  &.big {
    font-weight: 200;
    padding: 20px;

    div {
      vertical-align: middle;
    }
    div:nth-child(2) {
      width: 248px;
    }
    .post-content {
      font-size: 30px;
    }
    .options {
      button {
        i {
          margin: 0;
        }
      }
      width: 200px;
      text-align: right;
    }
    div:first-child {
      display: block;
      div {
        display: inline-block;
        span {
          display: inline-block;
        }
      }

      .post-name {
        small {
          font-size: 14px;
        }
      }
    }
  }
  .post-name {
    display: block;
    font-weight: 500;
    font-size: 14px;
    margin-top: -4px;
    small {
      color: $grey;
      font-weight: normal;
      font-size: 13px;
      a, a:visited, a:hover, a:active {
        color: $grey;
      }
    }

    a, a:visited, a:hover, a:active {
      color: black;
    }
  }
  .post-content {
    a, a:visited {
      color: $primary-blue;
    }
    a:hover, a:active {
      text-decoration: underline;
    }
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
  }
  img {
    border-radius: 3px;
  }
  div {
    display: inline-block;
    vertical-align: top;
  }
  div:nth-child(2) {
    min-width: 32px;
  }

  div:last-child {
    word-wrap: break-word;
    width: 90%;
  }

  .repost {
    display: block;
    width: 100%;

    div {
      width: 250px;
      color: $grey;
      font-size: 13px;
      a, a:hover, a:visited, a:active {
        color: $grey;
      }
      a:hover, a:active {
        text-decoration: underline;
      }
    }

    div:first-child {
      text-align: right;
      width: 32px;
      i, i:hover, i:visited, i:active {
        margin: 0;
        margin-bottom: 5px;
        margin-right: 8px;
        font-size: 11px;
        background-color: #008000;
        color: white;
        border-radius: 2px;
        padding: 2px;
        cursor: default;
      }
    }
  }
}

.alert {
  margin-top: -500px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 11px #555;
  width: 500px;
  height: 100px;
  font-weight: normal;
  padding-top: 61px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  display: none;
  z-index: 9;
  &.big {
    font-size: 17px;
  }
}

.container {

  &.home {
    margin-top: 10px;
  }

  &.profile-nav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $light-grey;
    background-color: white;

    .profile-pic {
      margin-top: -110px;
      img {
        border-radius: 10px;
        border: 5px solid white;
      }
    }
  }

}

.small-top-profile {
  width: 32px;
  height: 32px;
  border-radius: 3px;
}

.navbar {
  border-bottom: 2px solid $primary-blue;
}

.home-profile {
  width: 68px;
  border-radius: 10px;
  border: 3px solid white;
}

.no-padding {
  padding: 0;
}

.trending {

  padding: 15px;
  border: 1px solid $light-grey;
  border-radius: 10px;
  color: #9d9d9d;
  background-color: white;

  a:active, a:hover {
    color: #9d9d9d;
    text-decoration: underline;
  }
}
.margin-left {
  margin-left: 10px;
}
.big {

  font-size: 19px;
  font-weight: 500;
}

.grey {
  color: $grey;
}
.font-black {
  color: #000000;
}

.caps {
  text-transform: uppercase;
}

ul {
  padding: 0;
  li {
    div {
      height: 30px;
      i {
        text-align: center;
        width: 20px;
      }
      span {
        height: 27px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 4px;
      }
    }
    list-style-type: none;
  }
}

.fa {
  font-size: 20px;
}

.small {
  color: $grey;
  font-size: 11px;
}

.medium {
  font-size: 12px;
  margin-top: -10px;
}

.big-link {
  color: $primary-blue;
  font-size: 19px;
  font-weight: 500;
  margin-top: -10px;
}

a, a:visited{
  color: #9d9d9d;
}

a:hover, a:active {
  text-decoration: none;
  color: $primary-blue;
}

.center {
  text-align: center;
}

.row {
  width: 30%;
  margin: 0;
  display: inline-block;

  &.bottom {
    vertical-align: bottom;
    span {
      display:block;
      margin: .5px;
    }
  }

}

.profile-page-nav {
  .row {
    width: 20%;
  }
}

.right {
  text-align: right;
  padding-right: 6.99%;
}

.side-container {
  padding: 15px;
  padding-top: 100px;
  margin-top: 10px;
  border: 1px solid $light-grey;
  border-radius: 10px;
  color: #9d9d9d;
  margin-bottom: 20px;

  background: linear-gradient(to bottom, $primary-blue 0%,$primary-blue 50%,#000000 50%,white 50%,white 100%);

  .top {

    .home-name {
      width: 175px;
    }
    display: block;
    vertical-align: bottom;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 15px;

    .row:first-child {
      width: 70px;
    }
  }

  .no-top {
    margin-top: -3px;
  }

}

.vertical-center-nav {
  margin-top: 4px;
}

.vertical-center-follow {
  margin-top: 13px;
}

.notification-count {
  background-color: red;
  position: absolute;
  border-radius: 3px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  left: 10px;
  bottom: 10px;
}

.clear-all {
  cursor: pointer;
  background-color: white;
  border: 0;
}
.clear-all:hover {
  text-decoration: underline;
}

.unread {
  padding: 14px;
}

.alert-unread {
  background-color: #f5fafc;
}

.fa-trash-o:hover {
  color: $primary-blue;
  cursor: pointer;
}

.profile-headers {
  span {
    display: inline-block;
    margin-right: 30px;
  }
}

.light {
  font-weight: 200;
}

.post {
  &.big {
    .reposts-favorites {
      border-top: 1px solid $light-grey;
      border-bottom: 1px solid $light-grey;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 505px;

      div {
        display: inline-block;
        width: 70px;
        padding-top: 5px;
        padding-bottom: 10px;
      }
      div:last-child {
        width: 333px;
      }
      .separator {
        border-left: 1px solid $light-grey;
        height: 70px;
        vertical-align: middle;
        width: 5px;
      }
    }
  }
}
